# Python
__pycache__/
*.py[cod]

# Jupyter
.ipynb_checkpoints/

# Virtual environments
venv/
env/
.venv/

# Conda
.env
.conda/

# VS Code
.vscode/

# macOS
.DS_Store

# Windows
Thumbs.db

# Python cache
.pytest_cache/

# Logs
*.log

# Large datasets
data/raw/

# Secrets
.env

# Output files
*.tmp