anyio @ file:///C:/Users/task_177313442937352/croot/anyio_1773134524846/work
argon2-cffi @ file:///C:/Users/task_176606707648210/croot/argon2-cffi_1766067890970/work
argon2-cffi-bindings @ file:///C:/Users/dev-admin/buildout/croot/argon2-cffi-bindings_1761980525516/work
asttokens @ file:///C:/Users/task_177313490604433/croot/asttokens_1773135664379/work
async-lru @ file:///C:/Users/task_NYb0LGoETnixx_1/croot/async-lru_1783506251965/work
attrs @ file:///C:/Users/task_177495968090263/croot/attrs_1774959752963/work
babel @ file:///C:/miniconda3/conda-bld/babel_1764159343831/work
beautifulsoup4 @ file:///C:/Users/task_178117353742690/croot/beautifulsoup4-split_1781173620305/work
bleach @ file:///C:/Users/task_178239052214854/croot/bleach_1782390607870/work
brotlicffi @ file:///C:/miniconda3/conda-bld/brotlicffi_1764961392766/work
certifi @ file:///C:/Users/task_B-yggVMNRRKAU_0/croot/certifi_1785412608275/work/certifi
cffi @ file:///C:/Users/task_ApkrtaHaRAaBe_0/croot/cffi_1784189021061/work
charset-normalizer @ file:///C:/Users/task_AGRXPMi1RD6j2_0/croot/charset-normalizer_1782917500512/work
click @ file:///C:/Users/task_178117572493381/croot/click_1781176571315/work
colorama @ file:///C:/Users/dev-admin/buildout/croot/colorama_1759952627215/work
comm @ file:///C:/Users/dev-admin/buildout/croot/comm_1763637613849/work
contourpy @ file:///C:/miniconda3/conda-bld/contourpy_1763643941183/work
curl_cffi==0.16.0
cycler @ file:///C:/Users/task_176606795666152/croot/cycler_1766068071140/work
debugpy @ file:///C:/Users/task_NPYugHE5SnSfF_1/croot/debugpy_1783355752307/work
decorator @ file:///C:/Users/task_178169125771025/croot/decorator_1781691369863/work
defusedxml @ file:///tmp/build/80754af9/defusedxml_1615228127516/work
executing @ file:///C:/Users/dev-admin/buildout/croot/executing_1761985455628/work
fastjsonschema @ file:///C:/miniconda3/conda-bld/python-fastjsonschema_1763718678445/work
feedparser==6.0.14
feedparser-sgmllib==2.0.1
fonttools @ file:///C:/Users/task_178107563484896/croot/fonttools_1781075779209/work
h11 @ file:///C:/miniconda3/conda-bld/h11_1761931280691/work
httpcore @ file:///C:/Users/dev-admin/buildout/croot/httpcore_1761939678908/work
httpx @ file:///C:/Users/dev-admin/buildout/croot/httpx_1761941099328/work
idna @ file:///C:/Users/task_178056150426656/croot/idna_1780561583484/work
ipykernel @ file:///C:/Users/task_177261244345710/croot/ipykernel_1772612563750/work
ipython @ file:///C:/Users/task_AvXKeNfgREe0c_0/croot/ipython_1784577055425/work
ipython_pygments_lexers @ file:///C:/Users/dev-admin/buildout/croot/ipython_pygments_lexers_1759956485878/work
ipywidgets @ file:///C:/Users/task_177149994739391/croot/ipywidgets_1771500056621/work
jedi @ file:///C:/Users/task_177868139722730/croot/jedi_1778681789694/work
Jinja2 @ file:///C:/Users/dev-admin/buildout/croot/jinja2_1761938590194/work
joblib @ file:///C:/Users/task_176786753226112/croot/joblib_1767868141093/work
json5 @ file:///C:/miniconda3/conda-bld/json5_1763718615838/work
jsonschema @ file:///C:/Users/task_176795547555139/croot/jsonschema_1767955583625/work
jsonschema-specifications @ file:///C:/miniconda3/conda-bld/jsonschema-specifications_1762788613712/work
jupyter @ file:///C:/Users/task_177151334864249/croot/jupyter_1771513621645/work
jupyter-console @ file:///C:/Users/dev-admin/buildout/croot/jupyter_console_1763640165886/work
jupyter-events @ file:///C:/Users/task_177806710271725/croot/jupyter_events_1778067286064/work
jupyter-lsp @ file:///C:/Users/task_176977265702222/croot/jupyter-lsp_1769772765816/work
jupyter_client @ file:///C:/Users/task_178118291458094/croot/jupyter_client_1781183303485/work
jupyter_core @ file:///C:/Users/dev-admin/buildout/croot/jupyter_core_1765281302918/work
jupyter_server @ file:///C:/Users/task_178240058694853/croot/jupyter_server_1782400804024/work
jupyter_server_terminals @ file:///C:/Users/task_177028943868542/croot/jupyter_server_terminals_1770289598732/work
jupyterlab @ file:///C:/Users/task_178272734273484/croot/jupyterlab_1782727495689/work
jupyterlab_pygments @ file:///C:/Users/dev-admin/buildout/croot/jupyterlab_pygments_1759955874975/work
jupyterlab_server @ file:///C:/Users/task_176962933081313/croot/jupyterlab_server_1769629913304/work
jupyterlab_widgets @ file:///home/task_Juh6Nl9AS1Ob4_0/croot/jupyterlab_widgets_1784891225347/work/python/jupyterlab_widgets
kiwisolver @ file:///C:/miniconda3/conda-bld/kiwisolver_1764159361484/work
MarkupSafe @ file:///C:/Users/task_178239079824739/croot/markupsafe_1782390881383/work
matplotlib==3.11.0
matplotlib-inline @ file:///C:/Users/task_Yd1i5-UpSbKmO_0/croot/matplotlib-inline_1784795496600/work
mistune @ file:///C:/Users/task_U8aC-EWDRsiL0_0/croot/mistune_1783704044507/work
mkl-service==2.7.2
mkl_fft @ file:///C:/Users/task_177730050190117/croot/mkl_fft_1777300571710/work
mkl_random @ file:///C:/Users/task_178236954965687/croot/mkl_random_1782369674093/work
multitasking==0.0.13
narwhals @ file:///C:/Users/task_Ahk_fpuEQZ-ql_0/croot/narwhals_1783944194288/work
nbclient @ file:///C:/Users/task_178248392500480/croot/nbclient_1782484540038/work
nbconvert @ file:///C:/Users/task_178239090107203/croot/nbconvert-meta_1782391114968/work
nbformat @ file:///C:/Users/dev-admin/buildout/croot/nbformat_1759955312591/work
nest-asyncio @ file:///tmp/build/80754af9/nest-asyncio_1613680548246/work
nltk @ file:///C:/Users/task_bnRXlJrwRtSKf_0/croot/nltk_1784014158773/work
notebook @ file:///C:/Users/task_U3kXhzulQ1-8-_0/croot/notebook_1783948854840/work
notebook_shim @ file:///C:/Users/task_176962940553730/croot/notebook-shim_1769629901712/work
numpy @ file:///C:/Users/task_XQ74FEIlTmC-z_0/croot/numpy_and_numpy_base_1783953967606/work/dist/numpy-2.5.1-cp314-cp314-win_amd64.whl#sha256=0eb8d5d520a6841bac8f03b2bc4b6a286d7ffd26d64320c3930a05aff2804a8b
packaging==26.0
pandas @ file:///C:/Users/task_178007176530389/croot/pandas_1780071914142/work
pandocfilters @ file:///C:/Users/dev-admin/buildout/croot/pandocfilters_1759955985207/work
parso @ file:///C:/Users/task_177867410244795/croot/parso_1778674223314/work
peewee==4.3.0
pillow @ file:///C:/Users/task_177797437436638/croot/pillow_1777974476826/work
platformdirs @ file:///C:/Users/task_SZemcR1eQ3SLN_0/croot/platformdirs_1785312168310/work
plotly==6.9.0
prometheus_client @ file:///C:/Users/task_177273262320601/croot/prometheus_client_1772733416381/work
prompt_toolkit @ file:///C:/Users/task_Dzgh7DD9RTuCx_0/croot/prompt-toolkit-split_1785325200150/work
protobuf==7.35.1
psutil @ file:///C:/Users/task_LuKfbWNRSIiMo_0/croot/psutil_1784875544575/work
pure_eval @ file:///C:/Users/dev-admin/buildout/croot/pure_eval_1759956052992/work
pycparser @ file:///C:/Users/task_177495971781166/croot/pycparser_1774959830167/work
Pygments @ file:///C:/Users/task_177512697712397/croot/pygments_1775127052270/work
pyparsing @ file:///C:/miniconda3/conda-bld/pyparsing_1763973805642/work
PyQt5==5.15.11
PyQt5_sip @ file:///C:/miniconda3/conda-bld/pyqt-split_1764009081156/work/pyqt_sip
PySocks @ file:///C:/miniconda3/conda-bld/pysocks_1761753029698/work
python-dateutil @ file:///C:/Users/dev-admin/buildout/croot/python-dateutil_1759954839763/work
python-json-logger @ file:///C:/miniconda3/conda-bld/python-json-logger_1764590137051/work
pytz==2026.3.post1
pywin32 @ file:///C:/Users/task_178231514328711/croot/pywin32_1782315859793/work
pywinpty @ file:///C:/Users/task_177521346807667/croot/pywinpty_1775213566011/work/pywinpty-src
PyYAML @ file:///C:/miniconda3/conda-bld/pyyaml_1763465514484/work
pyzmq @ file:///C:/miniconda3/conda-bld/pyzmq_1762375620799/work
qtconsole @ file:///C:/Users/task_177667052344624/croot/qtconsole_1776670649656/work
QtPy @ file:///C:/Users/dev-admin/buildout/croot/qtpy_1761944906022/work
referencing @ file:///C:/miniconda3/conda-bld/referencing_1762536906066/work
regex @ file:///C:/Users/task_177972205085814/croot/regex_1779722166593/work
requests @ file:///C:/Users/task_178034872438702/croot/requests_1780348788133/work
rfc3339_validator @ file:///C:/miniconda3/conda-bld/rfc3339-validator_1764775658359/work
rfc3986_validator @ file:///C:/Users/dev-admin/buildout/croot/rfc3986-validator_1762547083442/work
rpds-py @ file:///C:/miniconda3/conda-bld/rpds-py_1762366636411/work
scikit-learn @ file:///C:/Users/task_178153002679570/croot/scikit-learn_1781530290720/work
scipy @ file:///C:/Users/task_178236955794638/croot/scipy_1782369647777/work/dist/scipy-1.18.0-cp314-cp314-win_amd64.whl#sha256=a658e9d3fdbad52e9b586cdba864b1f0e2e29c30fbaa582805d2b0844c0de9b4
seaborn @ file:///C:/Users/dev-admin/buildout/croot/seaborn_1762566511451/work
Send2Trash @ file:///C:/Users/task_176817069691338/croot/send2trash_1768170819395/work
setuptools==83.0.0
sip @ file:///C:/Users/dev-admin/buildout/croot/sip_1761943990339/work
six @ file:///C:/Users/dev-admin/buildout/croot/six_1759954493303/work
soupsieve @ file:///C:/Users/task_W-0MDEeERgGfb_0/croot/soupsieve_1783697266035/work
stack_data @ file:///C:/Users/dev-admin/buildout/croot/stack_data_1759957300617/work
terminado @ file:///C:/Users/task_176959127836768/croot/terminado_1769591780553/work
threadpoolctl @ file:///C:/miniconda3/conda-bld/threadpoolctl_1764361788517/work
tinycss2 @ file:///C:/miniconda3/conda-bld/tinycss2_1764949110306/work
tornado @ file:///C:/Users/task_178231420464865/croot/tornado_1782314852606/work
tqdm @ file:///C:/Users/task_178117053209410/croot/tqdm_1781170675171/work
traitlets @ file:///C:/Users/task_177874327752383/croot/traitlets_1778743391161/work
typing_extensions @ file:///C:/Users/task_NKia6fvQRj--m_0/croot/typing_extensions_1784101066632/work
tzdata @ file:///home/task_177806041933677/croot/python-tzdata_1778060738968/work
urllib3 @ file:///C:/Users/task_177853593283653/croot/urllib3_1778536216915/work
vaderSentiment==3.3.2
wcwidth @ file:///C:/Users/task_cF4C9s2uTjO5v_1/croot/wcwidth_1783584599834/work
webencodings @ file:///C:/Users/dev-admin/buildout/croot/webencodings_1761938483125/work
websocket-client @ file:///C:/Users/dev-admin/buildout/croot/websocket-client_1759957369455/work
websockets==17.0.1
widgetsnbextension @ file:///C:/Users/dev-admin/buildout/croot/widgetsnbextension_1761945009955/work
win_inet_pton @ file:///C:/miniconda3/conda-bld/win_inet_pton_1761746275387/work
wordcloud==1.9.6
yfinance==1.5.2
